@import "main_style.css";

/* Selecting the div with id=album */
#album{
    display: flex;
    flex-direction: row; /* Elements in the div will be aligned horizontally */
}
/* all the table elements in #album */
#album table{
    padding-left: .5em;
    margin: 1em 0 auto;
    width: max-content;
    height: max-content;
}
/* all the img whose classe are album_illustration */
img.album_illustration{
    width: 10em;
    height: 10em;
}
