@import "main_style.css";

/* Selecting the division whose id=content */
#content{
    margin: auto 30% auto 4%; /* let the content margin to be positioned to the left (more than in the rest of the site) */
}

/* Selecting all the list elements, exept the last one */
#content > ul, #content > ul > li > ul{
    list-style-type: none;
}

.arrow{
    width: 0.8em;
    height: 0.8em;
}